//Mains .scss

//----
// @Import
//----
@import "base/reset";
@import "pages/home";
@import "layout/header";
@import "base/colors";
@import "base/fonts";
@import "layout/button.scss";

body {
	// ---
	//  Background color - full page
	// ---
	background-color: #eaeaea;

	* {
		font-family: mulish;
		color: $black;
	}
}
