//Mains .scss

//----
// @Import
//----
@import "base/reset";
@import "base/colors";
@import "base/fonts";
@import "base/shadows";
@import "base/spacing";
@import "layout/header";
@import "layout/button";
@import "layout/footer";
@import "pages/home";
@import "pages/produits";

body {
	// ---
	//  Background color - full page
	// ---
	background-color: $white;
	font-size: 1rem;

	* {
		font-family: mulish;
		color: $black;
	}
}
