$color1: #9d2450;
$color2: #f2a42e;
$color3: #008788;

.underlined_header {
  margin-bottom: 58px;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 4px;
    width: 176px;
    background-color: $black;
  }
}

.care {
  display: flex;
  justify-content: space-between;
  margin-top: 146px;
  .care_text {
    max-width: 590px;
    p {
      &:not(:last-of-type) {
        margin-bottom: 50px;
      }
    }
  }
}

.contact {
  margin-top: 146px;
  display: flex;
  .formulaire_image {
    max-height: 500px;
    width: 30%;
    .form_image {
      height: 450px;
      width: auto;
    }
  }
  .formulaire {
    form {
      max-width: 68ex;

      .form-control {
        position: relative;
        width: 100%;
        min-height: 64px;
        margin: 1.25rem 0;

        label {
          @extend .text-base;
          @extend .ft-mulish;

          position: absolute;
          left: 8px;
          top: 50%;
          z-index: -1;
          opacity: .5;

          transition: 100ms ease-out;
          transition-property: inset, opacity;
        }

        input {
          @extend .text-lg;
          @extend .ft-mulish;

          width: 75%;
          border: 0;
          outline: 0;
          background: 0;

          // Style de tous les input sauf le submit
          &:not([type="submit"]) {
            position: absolute;
            bottom: 0;
            padding: 6px 12px;

            border-bottom: 2px solid;
            border-color: rgba($color: $black, $alpha: .5);
            transition: 250ms ease-in-out;
            transition-property: border-color, width;

            &:focus {
              border-color: rgba($color: $black, $alpha: 1);
              width: 100%;
            }
          }
        }

        // Animation du label lors du focus de l'input
        &:focus-within label {
          top: -8px;
          opacity: .75;
        }
      }

      // Input submit (comme un bouton normal)
      input[type="submit"] {
        @extend .mg-32px-t;
        @extend .button;
        @extend .ft-nunito;
        @extend .bg-cyan;
        @extend .color-white;
      }
    }
  }
}

