$color1:#9D2450;
$color2:#F2A42E;
$color3:#008788;


tip1{
    image1{
        
        width:384px;
        height:632px;
        padding: 10px;
        margin: 0;
    }
}

tip2{
    image2{
        background-color:$color2;
    }
}