#hero-section {
	display: flex;
	justify-content: center;
	margin-left: 216px;
	margin-right: 112px;
	margin-top: 48px;

	#hero-info {
		max-width: 488px;
		margin-right: 8.125rem;
		p {
			margin-top: 32px;
		}
		a {
			margin-top: 24px;
		}
	}
	img {
		border-radius: 2rem;
	}
}
