// ----
// hero section
// ----

#hero-section {
	display: flex;
	justify-content: center;
	margin-left: 216px;
	margin-right: 112px;
	margin-top: 48px;

	#hero-info {
		max-width: 488px;
		margin-right: 8.125rem;
		p {
			margin-top: 32px;
		}
		a {
			margin-top: 24px;
		}
	}
	img {
		border-radius: 2rem;
	}
}

// ----
// values section
// ----

#values-section {
	padding: 128px 112px;

	.values-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.values {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 384px;
		text-align: center;

		img {
			width: 153px;
			height: auto;
		}
		p {
			width: 240px;
		}
		a {
			text-decoration: none;
		}
	}
}

// ----
// 	savons et cosmétiques
// ----
#features-section {
	h2 {
		text-align: center;
	}
}
#features-section {
	#features {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	.features {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 384px;

		.feature-image {
			position: relative;
			width: 300px;
			height: 300px;

			&::before {
				content: "";
				position: absolute;
				inset: -55px;
				background-image: url("../images/blob/colorunderblob.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}

			img {
				position: absolute;
				inset: 0;
				-webkit-mask-image: var(--mask);
				-webkit-mask-repeat: round;
			}
		}

		a {
			text-decoration: none;
		}
	}
}

// ----
// A propos
// ----
#about-section {
	padding-right: 320px;

	.about-container {
		display: flex;
		justify-content: space-between;
	}

	#about-text {
		max-width: 384px;
		margin: auto 0;
		#about-button {
			border: 1px solid $magenta;
		}
	}
}
// ----
// Besoin de conseils
// ----

#advice-section {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;

	#advice-info {
		position: relative;
		max-width: 488px;
	}
	img {
		border-radius: 2rem;
		max-width: 488px;
	}
}
#advice-links {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	.advice-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		img {
			border-radius: 50%;
			width: 64px;
			height: 64px;
		}
		a {
			text-decoration: none;
		}
	}
}

// ---
//	Points de vente
// ---
#selling-points-section {
}
