// ----
// hero section
// ----

#hero-section {
	display: flex;
	justify-content: center;
	margin-left: 216px;
	margin-right: 112px;
	margin-top: 48px;

	#hero-info {
		max-width: 488px;
		margin-right: 8.125rem;
		p {
			margin-top: 32px;
		}
		a {
			margin-top: 24px;
		}
	}
	img {
		border-radius: 2rem;
	}
}

// ----
// values section
// ----

#values-section {
	.values {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 384px;
		text-align: center;

		img {
			width: 153px;
			height: auto;
		}
		h3 {
			margin-top: 1rem;
		}
		p {
			margin-top: 1.5rem;
			width: 240px;
		}
		a {
			margin-top: 1rem;
			text-decoration: none;
		}
	}
}
