// ----
// infos section
// ----
.info {
    h1 {
      text-align: center;
      padding-bottom: 38px;
    }
    .part1{
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media screen and(max-width: 768px) {
        flex-direction: column;
        max-width: 768px;
      }
      .left {
        align-self: center;
        @media screen and (max-width: 1240px){
          padding-left: 15px;
        }
        @media screen and(max-width: 768px) {
          padding-bottom: 36px;
        }
        .days{
          display: flex;
          justify-content: space-between;
          min-width: 500px;
          padding-bottom: 44px;
          @media screen and (max-width: 768px){
            font-size: 1em;
            min-width: unset;
            padding-bottom: 12px;
          }
          ul { 
            li {
            }
          }
        }
        .note{
            padding-bottom: 77px;
            @media screen and(max-width: 768px) {
              padding-bottom: 36px;
            }
        }
        .data {
          ul {
            
            li{
              padding: 4px 0;
              display: flex;
              img{
                margin-right: 58px;
                max-width: 20px;
                max-height: 20px;
                height: 100%;
                width: 100%;
              }
              p{
                max-width: 193px;
              }
              a {
                @extend .text;
              }
            }
          }
        }
      }
      .right{
        @media screen and (max-width: 1240px){
          position: absolute;
          z-index: -1;
          right: 0;
        }
      
        @media screen and(max-width: 768px) {
          position: inherit;
          align-self: center;
          z-index: 0;
          right: unset;
        }
      }
    padding-bottom: 66px;
    }
  }

// ----
// map section
// ----
.map {
  padding-bottom: 134px;
  @media screen and (max-width: 1240px){
    padding-bottom: unset;
  }
  iframe{
    width: 100%;
  }
}

  // ----
// partenaire section
// ----
.partenaire{
  height: 406px;
  color: $white;
  @media screen and (max-width: 1240px){
    height: max-content;
  }
  h2{
      padding-bottom: 24px;
  }
  p{
      padding-bottom: 32px;
      max-width: 72ex;
  }
  button{
    background-color: $magenta;
    color: $white;
    &:hover{
      background-color: $white;
      color: $magenta;
      border: 1px solid $magenta;
    }
  }
}