.search_menu {
	text-align: center;
	margin-top: 96px;
	margin-bottom: 69px;
	margin-left: auto;
	margin-right: auto;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	li {
		padding-left: 15px;
		padding-right: 15px;

		&:not(:last-of-type) {
			border-right: 2px solid $black;
		}

		a {
			text-decoration: none;
		}
	}
}

.products {
	.soap_window {
		max-width: 1216px;
		display: grid;
		grid: repeat(2, 330px) / auto-flow 405px;
		margin-left: auto;
		margin-right: auto;
	}
	.oil_window {
		max-width: 1216px;
		display: grid;
		grid: repeat(4, 330px) / auto-flow 405px;
		margin-left: auto;
		margin-right: auto;
	}
	.balm_window {
		max-width: 1216px;
		display: grid;
		grid: repeat(2, 330px) / auto-flow 405px;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		width: 280px;
		height: auto;
	}
	h2 {
		text-align: center;
		font-size: 48px;
		margin-bottom: 50px;
	}
	button {
		text-align: center;
		border: 0;

		background-color: transparent;
	}
}
.infos {
	display: flex;
	.about {
		padding-top: 64px;
		padding-left: 112px;
		padding-right: 104px;
		padding-bottom: 84px;
		width: 50%;
		background-color: #008788;

		p {
			margin-top: 24px;
			margin-bottom: 32px;

			.about_text {
				max-width: 488px;
			}
		}
	}
	.find_me {
		text-align: right;
		width: 50%;
		padding-top: 64px;
		padding-bottom: 68px;
		padding-right: 113px;
		padding-left: 32px;
		display: flex;
		flex-direction: column;

		p {
			margin-top: 24px;
			margin-bottom: 32px;
		}
	}
}
