//Button start

// ----
// Button xl and hover
// ----
.button-xl {
	padding: 1.25rem 2rem;
	border-radius: 0.5rem;
	text-decoration: none;
	display: inline-flex;
	transition: 0.3s;
}
.button-xl:hover {
	border: solid 1px $cyan;
	background-color: $white;
	color: $cyan;
}

// ----
// Button and hover
// ----
.button {
	padding: 0.5625rem 2.375rem;
	text-decoration: none;
	border-radius: 0.5rem;
	display: inline-flex;
}
.button:hover {
	border: solid 1px $cyan;
	background-color: $white;
	color: $cyan;
}

// ----
// link & hover
// ----
