.content-wrapper {
  // TODO: Fix temporaire en attendant la dynamisation avec ACF...
  --color: red;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 146px;

  &[data-is-odd] {
    flex-direction: row-reverse;
  }

  &[data-is-even] .content_image::before {
    left: var(--offset);
  }

  &[data-is-odd] .content_image::before {
    right: var(--offset);
  }

  .content_image {
    position: relative;
    border-radius: 26px;

    &::before {
      // valeur de l'offset droite/gauche
      --offset: -20%;

      content: "";
      position: absolute;
      width: 100%;
      z-index: -1;
      top: -5%;
      bottom: -5%;

      border-radius: inherit;
      background-color: var(--color);
    }
  }


  .content_text {
    max-width: 590px;
    p {
      &:not(:last-of-type) {
        margin-bottom: 50px;
      }
    }
  }
}
