/// Style for the footer

footer {
  padding-block: 6rem 2rem;
  background-color: $black;
  background-image: url("../images/footer_image.png");
  background-repeat: no-repeat;
  background-position: right bottom;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;

    .brand-logo {
      max-width: 175px;
      height: auto;
    }
    .brand-desc {
      max-width: 280px;
    }
  }

  .footer-nav {
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    color: $white;

    &-entry-title {
      font-weight: 700;
      font-size: 1rem;
      line-height: 110%;
    }

    &-entry-list {
      margin-top: 1.5rem;

      li:not(:first-of-type) {
        margin-top: 0.5rem;
      }

      a {
        text-decoration: none;
        color: $white;
        font-size: 1rem;
      }
    }
  }

  .copyrights {
    display: block;
    max-width: max-content;
    margin-inline: auto;
    text-align: center;

    a {
      position: relative;
      color: $white;
      text-decoration: none;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($white, $alpha: 0.7);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .content {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {

    & {
      background-image: unset;
    }

    .content {
      width: 100%;

      .brand-desc {
        max-width: 60ex;
      }
    }

    .footer-nav {
      flex-direction: column;
      gap: 2.75rem;

      &-entry-list {
        margin-top: 1rem;
      }
    }

    .copyrights {
      padding: 0 24px;
    }
  }
}
