/// Style for the footer

footer {
  padding-block: 6rem 2rem;
  background-color: $black;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .brand-logo {
      max-width: 175px;
      height: auto;
    }
    .brand-desc {
      max-width: 280px;
    }
  }

  .copyrights {
    margin-top: 1.5rem;
    display: block;
    max-width: max-content;
    margin-inline: auto;
  }
}
