//Header .scss

//Start
.flex-row {
	display: flex;
	flex-direction: row;
}

.main_nav {
	justify-content: space-between;
	align-items: center;
	padding: 34px 112px 34px 48px;

	.logo {
		height: 50px;
		width: auto;
	}

	.nav {
		li {
			margin-right: 40px;
		}
	}
}

.text {
	text-decoration: none;
	color: $black;

	&:hover {
		color: $cyan;
	}
}
