// Block d'informations "À propos/Où me trouver?"

.infos {
  display: flex;

  .about {
    padding-top: 64px;
    padding-left: 112px;
    padding-right: 104px;
    padding-bottom: 84px;
    width: 50%;
    background-color: #008788;

    p {
      margin-top: 24px;
      margin-bottom: 32px;
      .about_text {
        max-width: 488px;
      }
    }
  }
  .find_me {
    text-align: right;
    width: 50%;
    padding-top: 64px;
    padding-bottom: 68px;
    padding-right: 113px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;

    .links {
      --icon-size: 2rem;

      padding-bottom: 1rem;

      li {
        padding: .5rem 0;
        display: flex;
        align-items: center;

        &::before {
          display: inline-flex;
          width: var(--icon-size);
          height: var(--icon-size);
          margin-right: calc(var(--icon-size) / 2) ;
        }

        a {
          @extend .text;
        }
      }

      &--address::before {
        content: url("../images/icons/map_pin.svg");
      }

      &--phone::before {
        content: url("../images/icons/phone.svg");
      }

      &--mail::before {
        content: url("../images/icons/mail.svg");
      }
    }

    p {
      margin-top: 24px;
      margin-bottom: 32px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    flex-direction: column;

    .about, .find_me {
      padding: 5% 10%;
      width: 100%;
      text-align: unset;
    }

    .find_me {
      .links {
        --icon-size: 1.5rem;
      }
    }

    p {
      max-width: 68ex;
    }
  }

  @media screen and (max-width: 768px) {
    .about, .find_me {
      padding: 3rem 20px;
    }
  }
}
