// Stylesheet for the swiperjs slider

.swiper {
  // Swiperjs wrapper styling
  &-wrapper {
  }

  // Swiperjs slider styling
  &-slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  // Slider pagination styling
  &-pagination {
    &-bullets {
      --swiper-pagination-bullet-horizontal-gap: 21px;
    }
    &-bullet {
      --swiper-pagination-bullet-size: 14px;

      &-active {
        --swiper-pagination-color: #ededed;
      }
    }
  }
}

// ---
//  Slider image
// ---
.slider-image {
  border-radius: var(--radius);
  max-width: 480px;
  width: 100%;
  height: auto;

  img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }
}

// ---
//  Slider content
// ---

.slider-content {
  &-what {
    max-width: 485px;
  }
  &-who {
    .collaborators-container {
      display: flex;
      justify-content: space-between;
      .collaborator {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .collaborator-image {
          width: 48px;
          height: 48px;
          border-radius: 500px;
        }
      }
    }
  }
}
