// Stylesheet for the swiperjs slider

.swiper {
  // Swiperjs wrapper styling
  &-wrapper {
  }

  // Swiperjs slider styling
  &-slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  // TODO: Finir le responsive du footer
  
  @media screen and (max-width: 1024px) {
    &-slide {
      flex-direction: column;
    }

    .slider-content {
      padding: 3rem 20px;
    }
  }

  @media screen and (max-width: 768px) {

    .slider-image {
      --radius: 0;
      max-width: unset;
    }

    .slider-content {

      .collaborators-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 2rem 1rem;

        .collaborator {
          margin: 0 auto;
        }
      }
    }
  }


  // Slider pagination styling
  &-pagination {
    &-bullets {
      --swiper-pagination-bullet-horizontal-gap: 21px;
      --swiper-pagination-color: #eaeaea;
      --swiper-pagination-bullet-inactive-color: #eaeaea;
      --swiper-pagination-bullet-inactive-opacity: 0.8;
    }
    &-bullet {
      --swiper-pagination-bullet-size: 14px;

      &-active {
        position: relative;

        &::before {
          content: "";
          inset: -8px;
          position: absolute;
          border: 1px solid $white;
          border-radius: 999px;
        }
      }
    }
  }
}

// ---
//  Slider image
// ---
.slider-image {
  --radius: 32px;

  border-radius: var(--radius);
  max-width: 480px;
  width: 100%;
  height: auto;

  img {
    display: block;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

// ---
//  Slider content
// ---

.slider-content {
  &-what {
    max-width: 485px;
  }
  &-who {
    .collaborators-container {
      display: flex;
      justify-content: space-between;
      .collaborator {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .collaborator-image {
          width: 48px;
          height: 48px;
          border-radius: 500px;
          object-fit: cover;
        }
      }
    }
  }
}
